{
  "development" : {
    "GITHUB_BASE_URL": "http://localhost:3005",
    "GITHUB_CLIENT": "c915cc932258ca310237",
    "GITHUB_SECRET": "07a07ae698aa5d1fff33bd5cab04c5f5a068a807",
    "SESSION_SECRET": "meltedpot",
    "REDIS_HOST": "localhost",
    "REDIS_PORT": "6379",
    "REDIS_TTL": "260"
  }
}
