h1
  Github Repositories

.git-repo-areas

  .git-repo( ng-repeat="repo in globalState.user.repos()" ng-controller="ListItemCtrl" )
    li
      .repo-name
        a(ng-bind="repo.full_name" ng-href="{{repo.html_url}}"  )
      .repo-fork_from
        span( ng-bind="repo.parent.fullname" )
      .repo-description
        span( ng-bind="repo.description" )
      .repo-inline
        span(ng-if="repo.language")
          .repo-language-color(ng-style="{'background-color':repo.language_color}")
          span.repo-language(ng-bind = "repo.language")
        span(ng-if="repo.forks_count === '0'")
          span.repo-forkcount(ng-bind="repo.forks_count")
        span() Updated&nbsp;
        span.repo-time(am-time-ago="repo.updated_at")
        button(ng-click ="getNotifications(repo)") Notifications

